
.ticket{
    margin-block-end:-3.5rem ;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
    background: var(--white);
    &__button {
        background: var(--orange);
        border: none;
        color: var(--white);
        border-radius: 20rem;
        padding-block: 1.3rem 1.5rem;
        padding-inline: 1.3rem;
        font-size: 1.5rem;
        font-family: maven;
        text-transform: lowercase;
        font-weight: 600;
        box-shadow: 0 1px 13px 24px var(--gradient-btn);
    }
    &__price {
        padding: .1rem 1rem .2rem;
        background: var(--black);
        z-index: 3;
        position: relative;
        color: var(--white);
        font-size: 0.9rem;
        font-family: maven;
        border-radius: 0rem 0rem 1rem 1rem;
        width: fit-content;
    }
}


.footer {
    padding-inline: 2rem;
    padding-block: 6rem 2rem;
    background: var(--black);
    color: var(--white);
    &__info {
        display : flex; 
        gap: 3rem;
        margin-block-end: 3rem;
    }
    &__text {
        font-family: maven;
        font-size: 0.9rem;
        font-weight: 200;
    }
    &__title {
        color: var(--blue);
        font-size: 1.3rem;
        font-weight: 500;
        margin-block-end: 0.5rem;
    }
    &__image {
        width: 50%;
        object-fit: cover;
    }
    &__help{
        display: none;
    }
    &__sponsors{
        padding-block-end: 2rem;
        &__list {
            display: flex;
            justify-content: center;
            align-items: center;
            gap : 4rem
        }
    }
    &__group {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        align-items: center;
    }
    &__socials{
        border: 1px solid var(--grey);
        border-radius: 0.4rem;
        padding: 1.5rem;
        &__title {
            color: var(--blue);
            font-size: 1rem;
            font-weight: 500;
        }
        &__list{
            display: flex;
            gap: 1rem;
            padding: 0;
            margin-block: 0.8rem 0;
            
        }
        a{
            color: var(--white);
            display: flex;
            gap: 0.5rem;
            align-items: center;
            span{
                font-size: 1.7rem;
            }
        }
    }
    &__helpdesk{
        font-family: maven;
    }
    &__legal{
        p{
            display: flex;
            flex-direction: column;
        }
    }
    &__yellow{
        color: var(--light-orange);
    }
}



@media screen and (max-width: $tablet ) {
    .footer{
        display: block;
        padding-inline: 0;
        &__image {
            display: none;
        }
        &__info {
            display: block;
           text-align: center;
           padding-inline: 1.5rem;
           margin-block-end: 0;
        }
        &__title {
            color: var(--light-orange);
            font-family: museo;
            font-size: 1.2rem;
            font-weight: 500;
        }
        &__location{
            border: 1px solid var(--grey);
            border-radius: 20rem;
            padding-block: 0.5rem;
            margin-block: 0.8rem;
        }
        &__paragraph {
            text-align: start;
            font-family: maven;
            font-size: 0.9rem;
            line-height: 1.7rem;
        }
        &__help{
            margin-block-start: 1.5rem;
            display: block;
            text-align: start;
        }
        &__sponsors{
            padding: 0;
            padding-inline: 1.5rem;
            margin-block: 2rem;
            &__list {
                padding: 0;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap : 1rem;
            }
        }
        &__group {
            display: block;
        }
        &__socials{
            border-radius: 0;
            &__title{
                color: var(--light-orange);
            }
        }
        &__helpdesk {
            display: none;
        }
        &__legal{
            padding: 1.5rem;
            p{
                display: block;
            }
        }
    }
}


@media screen and (max-width: $desktop ) {
    .footer {
        &__image {
            display: none;
        }
        &__info{
            gap: 1.5rem;
            align-items: center;
        }
        &__text {
            width: 70%
        }
        &__help{
            margin-block-start: 1.5rem;
            display: block;
            text-align: start;
            p{
                display: flex;
                flex-direction: column;
            }
        }
        &__sponsors{
            padding-block-end: 1rem;
            &__list {
                padding: 0;
                gap : 2rem
            }
        }
        &__group {
            display: flex;
            gap: 3rem;
            justify-content: stretch;
            align-items: center;
        }
        &__socials{
            width: 65%;
            padding: 1rem;
            &__list{
                gap: 3rem
            }
        }
        &__helpdesk {
            display: none;
        }
    }
}