*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: museo;
    font-weight: 300;
}

img {
 width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}




