*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: museo;
    font-weight: 300;
    color: var(--black);
    background: var(--bg-grey);
}

img {
 width: 100%;
 object-fit: cover;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    font-family: maven;
    text-transform: uppercase;
    cursor: pointer;
}

p, h1, h2, h3, h4 {
    margin: 0; 
    padding: 0; 
    line-height: 1.5rem;
}

a{
    color: var(--black);
}





