$mobile: 470px;
$tablet: 768px;
$desktop: 1024px;

:root {
    --light-orange: #FFEEE6;
    --orange: #FF3801; 
    --purple: #644BF1; 
    --purple2: #3924a2; 
    --white: #FFFFFF;
    --bg-grey: #F9F9F9;
    --black: #343237 ;
    --name-black: #392E57 ; 
    --blue: #00C3C5 ;
    --grey: #9A95A9 ; 
    --gradient-lin: linear-gradient(180deg, #6849FA 25%, #7D58FB 50%, #791BF8 100%);
    --gradient-btn: rgba(215, 76, 25, 0.15), 0 -1px 0 20px rgba(238,231,224,0.07); 
    --gradient-lin2: linear-gradient(135deg, #6e66ff 50%, #2a326c 70%, #00ffd5 100%);
  }