$mobile: 470px;
$tablet: 768px;
$desktop: 1024px;

:root {
    --light-orange: #FFEEE6;
    --orange: #FF3801; 
    --purple: #644BF1; 
    --white: #FFFFFF;
    --bg-grey: #F9F9F9;
    --black: #343237 ;
    --name-black: #392E57 ; 
    --blue: #00C3C5 ;
    --grey: #9A95A9 ; 
  }